node_name = "{{ consul_node_name }}"
bind_addr = "0.0.0.0"
data_dir  = "/var/consul/data"
datacenter = "dc1"
server = false

enable_syslog = true
log_level = "INFO"
log_file = "/var/log/consul/consul.log"

advertise_addr = "{{ consul_advertise_ip }}"
client_addr = "{{ consul_client_ip }}"
ports = {
  "serf_lan" = {{consul_serf_port}}
  "http" = {{consul_http_port}}
  "server" = {{consul_rpc_port}}
}

retry_join = ["{{ consul_server_ip }}:8301"]

service {
  id = "{{ consul_service_id }}"
  name = "nomad-server"
  tags = ["consul", "nomad"]
  port = {{ nomad_http_port }}
  meta {
    consul_serf_port = "{{ consul_serf_port }}"
    consul_http_port = "{{ consul_http_port }}"
    consul_rpc_port = "{{ consul_rpc_port }}"
    nomad_http_port = "{{ nomad_http_port }}"
    nomad_rpc_port = "{{ nomad_rpc_port }}"
    nomad_serf_port = "{{ nomad_serf_port }}"
  }
}
