[Unit]
Description=PostgreSQL Server

Wants=network-online.target
After=network-online.target

[Service]
ExecStart= /usr/lib/postgresql/11/bin/postgres -D {{ postgresql_data_dir }}

Restart=always
RestartSec=10
User={{ postgresql_process_owner }}
Group={{ postgresql_process_owner }}

[Install]
WantedBy=multi-user.target
