[Unit]
Description=Consul server

Wants=network-online.target
After=network-online.target

[Service]
ExecStart= /bin/sh -c "consul agent -config-file=/etc/consul/consul.hcl"

Restart=always
RestartSec=10
User={{ consul_process_owner }}
Group={{ consul_process_owner }}

[Install]
WantedBy=multi-user.target
