node_name = "{{ consul_node_name }}"
bind_addr = "0.0.0.0"
data_dir  = "/var/consul/data"
datacenter = "dc1"
server = true

advertise_addr = "{{ consul_advertise_ip }}"
client_addr = "{{ consul_client_ip }}"
ports = {
  "dns" = {{ consul_dns_port }}
  "serf_lan" = {{ consul_serf_port }}
  "http" = {{ consul_http_port }}
  "server" = {{ consul_rpc_port }}
}

bootstrap_expect = 1

enable_syslog = true
log_level = "INFO"
log_file = "/var/log/consul/consul.log"

service {
  id = "{{ consul_service_id }}"
  name = "consul-server"
  tags = ["consul", "consul-server"]
  port = {{ consul_rpc_port }}
  meta {
    consul_serf_port = "{{ consul_serf_port }}"
    consul_http_port = "{{ consul_http_port }}"
    consul_rpc_port = "{{ consul_rpc_port }}"
    consul_dns_port = "{{ consul_dns_port }}"
  }
}
