consul {
    address = "{{ consul_client_ip }}:{{ consul_http_port }}"

    retry {
        enabled = true
        attempts = 0
        backoff = "250ms"
        max_backoff = "6s"
    }
}

template {
  source = "/etc/iptables/rules.v4.tmpl"
  destination = "/etc/iptables/rules.v4"
  command = "sudo iptables-restore /etc/iptables/rules.v4"
}
