consul {
    address = "{{ consul_client_ip }}:{{ consul_http_port }}"

    retry {
        enabled = true
        attempts = 0
        backoff = "250ms"
        max_backoff = "6s"
    }
}

template {
  source = "/etc/haproxy/haproxy.cfg.tmpl"
  destination = "/etc/haproxy/haproxy.cfg"
  command = "/usr/local/scripts/reload-haproxy-service.sh"
}
