global
   log stdout format raw local0
   stats socket /var/run/haproxy/haproxy.sock user {{ haproxy_process_owner }} group {{ haproxy_process_owner }} mode 660 level admin expose-fd listeners
   user {{ haproxy_process_owner }}
   group {{ haproxy_process_owner }}

   master-worker

defaults
   log global
   mode http
   option httplog
   option dontlognull
   timeout connect 5000
   timeout client 50000
   timeout server 50000
   default-server init-addr last,libc,none

frontend stats
  bind *:8400
  stats enable
  stats uri /stats
  stats refresh 10s
  stats auth developer:developer

frontend http_front
   bind *:80

{% raw %}
   {{ range $index, $element := service "beast-makers-api" }}{{ if eq $index 0 }}
   acl is-beast-makers-api hdr_beg(host) -i {{ .ServiceMeta.lb_host_beginning }}
   use_backend http_beast-makers-api if is-beast-makers-api{{ end }}{{ end }}
{% endraw %}
{% raw %}
   {{ range $index, $element := service "customer-webportal" }}{{ if eq $index 0 }}
   acl is-customer-webportal hdr_beg(host) -i {{ .ServiceMeta.lb_host_beginning }}
   use_backend http_customer-webportal if is-customer-webportal{{ end }}{{ end }}
{% endraw %}
{% raw %}
backend http_beast-makers-api
   balance roundrobin
   {{ range $index, $element := service "beast-makers-api" }}
   server {{ .Name }}-{{ $index }} {{ .Address }}:{{ .Port }}{{ end }}
{% endraw %}
{% raw %}
backend http_customer-webportal
   balance roundrobin{{ range $index, $element := service "customer-webportal" }}
   server {{ .Name }}-{{ $index }} {{ .Address }}:{{ .Port }}{{ end }}
{% endraw %}
{% raw %}
backend http_hydra-booking
   balance roundrobin{{ range $index, $element := service "hydra-booking" }}
   server {{ .Name }}-{{ $index }} {{ .Address }}:{{ .Port }}{{ end }}
{% endraw %}
