[Unit]
Description=Vault server

Wants=network-online.target
After=network-online.target

[Service]
LimitMEMLOCK=256M
ExecStart= /bin/sh -c "vault server -config=/etc/vault/vault.hcl"

Restart=always
RestartSec=10
User={{ vault_process_owner }}
Group={{ vault_process_owner }}

[Install]
WantedBy=multi-user.target
