[Unit]
Description=Redis

Wants=network-online.target
After=network-online.target

[Service]
Type=forking
PermissionsStartOnly=true
ExecStartPre=/bin/touch /var/log/redis/redis_{{ redis_port }}.log
ExecStartPre=/bin/chown {{ redis_process_owner }}:{{ redis_process_owner }} /var/log/redis/redis_{{ redis_port }}.log
ExecStart= /bin/sh -c "/usr/local/bin/redis-server /etc/redis/{{ redis_port }}.conf"
ExecStop=/usr/local/bin/redis-cli shutdown
ExecReload=/bin/kill -USR2 $MAINPID

Restart=always
RestartSec=10
User={{ redis_process_owner }}
Group={{ redis_process_owner }}

[Install]
WantedBy=multi-user.target
