bind_addr = "0.0.0.0"
data_dir  = "/var/nomad/data"

advertise {
  http = "{{ nomad_advertise_http }}"
  rpc = "{{ nomad_advertise_rpc }}"
  serf = "{{ nomad_advertise_serf }}"
}

consul {
  address = "{{ consul_client_ip }}:8500"
}

server {
  enabled = true
  bootstrap_expect = 1

  rejoin_after_leave = true
}
