consul {
    address = "{{ consul_client_ip }}:{{ consul_http_port }}"

    retry {
        enabled = true
        attempts = 0
        backoff = "250ms"
        max_backoff = "6s"
    }
}

template {
  source = "/etc/dnsmasq.conf.tmpl"
  destination = "/etc/dnsmasq.conf"
  command = "sudo systemctl restart dnsmasq"
}
