[hydra-webapi]

user = {{ hydra_process_owner }}
group = {{ hydra_process_owner }}

listen = /var/run/hydra-webapi_php7-fpm.sock

listen.owner = {{ hydra_process_owner }}
listen.group = {{ hydra_process_owner }}
listen.mode = 0660

pm = dynamic
pm.max_children = 5
pm.start_servers = 2
pm.min_spare_servers = 1
pm.max_spare_servers = 3
