[Unit]
Description=Consul-Template

Wants=network-online.target
After=network-online.target

[Service]
ExecStart= /bin/sh -c "VAULT_ADDR='' consul-template -config /etc/consul-template/consul-template.hcl"

KillSignal=SIGINT

Restart=always
RestartSec=10
User={{ consul_template_process_owner }}
Group={{ consul_template_process_owner }}

[Install]
WantedBy=multi-user.target
