bind_addr = "0.0.0.0"
data_dir  = "/var/nomad/data"
enable_syslog = true

advertise {
  http = "{{ nomad_advertise_http }}"
  rpc = "{{ nomad_advertise_rpc }}"
  serf = "{{ nomad_advertise_serf }}"
}

client {
  enabled = true
  network_interface = "eth1"
  node_class = "webapp_cluster"
  server_join {
    retry_join = [ "{{ nomad_server_ip }}" ]
    retry_max = 3
    retry_interval = "15s"
  }
}

plugin "docker" {
  config {
    volumes = {
      enabled = true
    }
  }
}

consul {
  address = "{{ consul_client_ip }}:8500"
}
